footer{
    display: flex;
    background-color: #000;
    align-items: center;
    flex-direction: column;
}

.icons{
    padding: 20px;
}

.copy{
    color: #fff;
    font-size: 20px;
}

